.task-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list-container {
  width: 100%;
  margin-bottom: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  border-top: 1.5px solid #496e4b33;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  position: relative;
}

.task-check {
  display: flex;
  align-items: center;
}

.star-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task-text {
  flex-grow: 1;
  padding-left: 20px;
  cursor: pointer;
}
.task-complete-text {
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #1b281b;
}

/* .task-item-completed {
  text-decoration: Line-through;
} */
