.navbar-left-part {
  position: relative;
  margin-left: -60px;
  width: 170px;
  justify-content: space-around;
}
.navbar-light {
  background-color: #fbfdfc;
}

.navbar-right-part {
  position: relative;
  margin-right: -75px;
  width: 170px;
  justify-content: space-around;
}
